.timlinePadding {
  padding-left: 200px;
  background-color: #191d2b;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.stat-title::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: #2a2e35;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.timeline {
  display: -ms-grid;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid #2a2e35;
}

.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: #27AE60;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}

.timeline .timeline-item .tl-duration {
  padding: .2rem .6rem;
  background-color: #2a2e35;
  border-radius: 15px;
  display: inline-block;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

.timeline .timeline-item h5 span {
  color: #b2becd;
  font-weight: 500;
  font-size: 1.2rem;
}

.timeline .timeline-item p {
  color: #b2becd;
}